# Python
__pycache__/
__pypackages__/
*.py[cod]
*$py.class
.cache
.pytest_cache
.mypy_cache

# build & test
build/
dist/
.eggs/
*.egg-info
.tox
.coverage

# IDEs
*.swp
*~
.idea
.vscode
*.bat

# DB
*.db
*.db-journal

# workbench files/folders
data/
workbench.py
scratch.py
